.block-testimonial-slider {
  position: relative;

  &:focus {
    box-shadow: none;
  }

  .flickity-viewport {
    transition: height 1s $snappy;
  }

  .flickity-prev-next-button {
    background-color: transparent;
    color: $darker-grey;

    .flickity-button-icon {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .testimonial {
    width: 100%;
    padding: fluid(30, 60);
    text-align: center;
    text-wrap: balance;

    blockquote {
      margin: 0;
    }

    cite {
      display: block;
      font-family: $font-family-sans-serif;
      font-style: normal;
    }
  }
}
